.firstdiv{
  font-family: 'Courier New', Courier, monospace;
  color: #000080;
  padding: 20px;
  background-color:#b0e0e6;
}

#trainer{
  font-family: Arial, Helvetica, sans-serif;
  color: #008080;
}
h2{
  color: brown;
}